/*Modal window

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    padding: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $primary-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    
    margin-bottom: 12px;
    margin-top: 0;
    color: $primary-text-color;
  }
  
  .form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-element:last-child {
    margin-bottom: 20px;
  }
  
  .form-element label {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  
    color: $secondary-text-color;
  }
  
  .input-wrap {
    position: relative;
  }
  .form-element svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    translate: 0 -50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-element input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-element input:hover,
  .form-element input:focus {
    border: 1px solid $accent-color;
  }
  
  .form-element input:hover + svg,
  .form-element input:focus + svg {
    fill: $accent-color;
  }
  
  .clien-icon {
    position: absolute;
  }
  
  textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  textarea:hover,
  textarea:focus {
    border: 1px solid $accent-color;
  }
  
  .modal-form .btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border: none;
    display: flex;
    letter-spacing: 0.06em;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
  
    color: $primary-white-color;
    width: 200px;
    height: 50px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .modal-form .btn:hover,
  .modal-form .btn:focus {
    background-color: $button-color;
  }
  
  /*checkbox
  
  
  .accept {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    width: 16px;
    height: 15px;
    margin-right: 9px;
  
    border: 2px solid $primary-text-color;
    border-radius: 3px;
  }
  
  .checkbox-link {
    margin-left: 3px;
    color: $accent-color;
    text-decoration: underline;
  }
  
  .accept label {
    display: flex;
    align-items: center;
  }
  
  .accept input:checked+label .checkbox {
    background-color: $accent-color;
    border: 1px solid $accent-color;
  }
  
  .close-button {
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: $primary-background-color;
    border: 1px solid $border-close-buttone;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .close-button:focus,
  .close-button:hover {
    fill: $accent-color;
    box-shadow: $close-button-shadow;
  }
  */
  